body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f0f0f0 ;
    display: grid;
    place-content: center;
    height: 100dvh;
}

main{
    width: 400px;
    max-width: 100%;
    height: 78vh;
    background: white ;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 8px;
    margin-bottom: 16px;

    overflow-y: auto;
    scroll-behavior: smooth;
}

ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.message{
    display: flex;
    flex-direction: column;
    margin: 4px 0;
    padding: 4px 8px;

    > span{
        width: 36px;
        height: 36px;
        background: #eee;
        font-size: 12px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 999999px;
    }

    > p{
        border-radius: 4px;
        padding: 4px 8px;
        margin: 5px;
    }

    &.user{
        align-self: flex-end;
        align-items: flex-end;
        span,p {
            background: #c0d2f8;
        }
    }

    &.bot{
        align-self: flex-start;
        span,p {
            background: #f2c0f8;
        }
    }
}


form{
    display: flex;

    input{
        border-radius: 99999px;
        flex-grow: 1;
        border: 0;
        padding: 8px;
        margin-right: 8px;
        border: 1px solid #ccc;
    }

    button{
        background: rgb(27, 140, 192);
        border: 0;
        color: white;
        border-radius: 6px;
        cursor: pointer;
        padding: 8px;
        transition: background .3s ease;
        &[disabled]{
            opacity: 0.5;
        }
        &:hover{
            background: rgb(2, 93, 135);
        }
    };
}