<div
  class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center"
  *ngIf="isOpen"
>
  <div class="bg-white rounded-lg shadow-lg w-11/12 md:w-1/3">
    <div class="p-4 border-b">
      <h2 class="text-xl font-semibold">Anuncio!</h2>
    </div>
    <div class="p-4">
      <div class="w-full bg-gray-200 rounded-full h-4 mb-4" *ngIf="viewProgressBar">
        <div
          class="bg-blue-500 h-4 rounded-full"
          [style.width.%]="progress"
        ></div>
      </div>
      <p class="text-sm text-gray-600 text-center mt-5">
        Estimado usuario, la inteligencia artificial utilizada en esta
        plataforma se ejecuta directamente desde su computadora. Esto garantiza
        que todas sus conversaciones sean completamente privadas.
      </p>
      <p class="text-sm text-gray-600 text-center mt-3">
        Por favor, espere mientras el modelo de lenguaje se descarga y se carga
        en su GPU.
      </p>
    </div>
    <div class="flex justify-center p-4 border-t">
      <p class="text-sm text-gray-400 text-center mt-2">{{ loadingMessage }}</p>
    </div>
  </div>
</div>
